
body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #000;
}

.game-window-render {
    position: fixed;
    z-index: 1000;
}

.button1:before {
    content: url("../img/button/button-begin.png");
    /*z-index: 1;*/
    vertical-align: top;
    
}

.button1 {
    background-image: url("../img/button/button-center.png");
    height: 35px;
    line-height: 35px;
    color: white;
    font-weight: bold;
    vertical-align: top;
    cursor: pointer;
}

.button1::after {
    content: url("../img/button/button-end.png");
    vertical-align: top;
}

.right-menu {
    position: fixed;
    top: 0px;
    text-align: center;
    z-index: 999;
    width: 200px;
    right: 0px;
    padding: 0px;
}

.right-menu-item {
    display: block;
}

.right-menu-logo {
    width: 200px;
    height: 70px;
    content: url("../img/logo-200x50.png");
}

.right-menu-list {
    width: 200px;
    display: block;
}

.right-menu-list-topic {
    width: 200px;
    display: block;
    color: white;
    border-bottom: 1px solid white;
}

.right-menu-list-item {
    display: inline-block;
    width: 45px;
    height: 45px;
    border: 1px solid black;
    margin-top: 5px;
    margin-left: 5px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.right-menu-list-item:hover {
    border: 1px solid white;
}

.right-menu-list-item.road0 {
    background-image: url("../img/objects/road0-50x50.png");
}

.right-menu-list-item.road1 {
    background-image: url("../img/objects/road1-50x50.png");
}

.right-menu-list-item.road2 {
    background-image: url("../img/objects/road2-50x50.png");
}

.right-menu-list-item.road3 {
    background-image: url("../img/objects/road3-50x50.png");
}

.right-menu-list-item.road4 {
    background-image: url("../img/objects/road4-50x50.png");
}

.right-menu-list-item.road5 {
    background-image: url("../img/objects/road5-50x50.png");
}

.right-menu-list-item.road6 {
    background-image: url("../img/objects/road6-50x50.png");
}

.right-menu-list-item.home {
    background-image: url("../img/home0-100x100.png");
    background-size: 125px 85px;
    background-position: 0px 5px;
    width: 95px;
    height: 95px;
}

.game-map-canvas {
    display: block;
    position: fixed;
}

.game-map-canvas.background {
    z-index: 800;
}

.game-map-canvas.objects {
    z-index: 801;
}

.game-map-canvas.players {
    z-index: 802;
}