
body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #402733;
}

#canvas_game_map_background {
    display: block;
    position: fixed;
    z-index: 980;
}

#canvas_game_map_buildings {
    display: block;
    position: fixed;
    z-index: 981;
}

#canvas_game_map_sprites {
    display: block;
    position: fixed;
    z-index: 982;
}

.border-top-left {
    width: 200px;
    height: 200px;
    background-image: url("../img/borders/border-top-left.png");
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.border-left {
    width: 25px;
    height: calc(100% - 400px);
    background-image: url("../img/borders/border-left.png");
    position: fixed;
    top: 200px;
    left: 0;
    z-index: 998;
}

.border-right {
    width: 25px;
    height: calc(100% - 400px);
    background-image: url("../img/borders/border-right.png");
    position: fixed;
    top: 200px;
    right: 200px;
    z-index: 998;
}

.border-top {
    width: calc(100% - 400px);
    height: 25px;
    background-image: url("../img/borders/border-top.png");
    position: fixed;
    top: 0;
    left: 200px;
    z-index: 998;
}

.border-top-right {
    width: 200px;
    height: 200px;
    background-image: url("../img/borders/border-top-right.png");
    position: fixed;
    top: 0;
    right: 200px;
    z-index: 999;
}

.border-bottom-left {
    width: 200px;
    height: 200px;
    background-image: url("../img/borders/border-bottom-left.png");
    position: fixed;
    bottom: 50px;
    left: 0;
    z-index: 999;
}

.border-bottom {
    width: calc(100% - 400px);
    height: 25px;
    background-image: url("../img/borders/border-bottom.png");
    position: fixed;
    bottom: 50px;
    left: 200px;
    z-index: 998;
}

.border-bottom-right {
    width: 200px;
    height: 200px;
    background-image: url("../img/borders/border-bottom-right.png");
    position: fixed;
    bottom: 50px;
    right: 200px;
    z-index: 999;
}

.bottom-panel {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: #b04333;
}

.left-panel {
    width: 200px;
    height: calc(100% - 50px);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: #b04333;
}

.button1:before {
    content: url("../img/button/button-begin.png");
    /*z-index: 1;*/
    vertical-align: top;
    
}

.button1 {
    background-image: url("../img/button/button-center.png");
    height: 35px;
    line-height: 35px;
    color: white;
    font-weight: bold;
    vertical-align: top;
    cursor: pointer;
}

.button1::after {
    content: url("../img/button/button-end.png");
    vertical-align: top;
}

.right-menu {
    position: fixed;
    top: 0px;
    text-align: center;
    z-index: 999;
    width: 200px;
    right: 0px;
    padding: 0px;
}

.right-menu-item {
    display: block;
}

.right-menu-logo {
    width: 200px;
    height: 70px;
    content: url("../img/logo-200x50.png");
}

.right-menu-list {
    width: 200px;
    display: block;
}

.right-menu-list-topic {
    width: 200px;
    display: block;
    color: white;
    border-bottom: 1px solid white;
}

.right-menu-list-item {
    display: inline-block;
    width: 45px;
    height: 45px;
    border: 1px solid black;
    margin-top: 5px;
    margin-left: 5px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.right-menu-list-item:hover {
    border: 1px solid white;
}

.right-menu-list-item.road {
    background-image: url("../img/objects/road0-50x50.png");
}

.right-menu-list-item.home {
    background-image: url("../img/home0-100x100.png");
    background-size: 55px 35px;
    background-position: 0px 5px;
}